.navbar{
    background-color: #fff;
    z-index: 999;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center; 
    height: 12vh;
    border-bottom: 1.5px solid #464646;
    padding: 0 20px;
    box-shadow: rgba(131, 116, 199, 0.2) 0px 2px 8px 0px;
}

.navbar__logo{
    width: 50px;
    display: contents;
    align-items: left;
    justify-content: center;
    margin: 0 auto;
}

.navbar__logo h2{
    font-family: 'Whisper', cursive;
    font-weight: bolder;
    font-size: 2.2rem;
    color: rgb(99, 117, 171);
    cursor: pointer;
}

.navbar__links{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10px;
}

.navbar__links p{
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-size: 0.9rem;
    color: #a0a0a0;
}

.navbar__links p:hover{
    color: #9d86dd;
    transform: scale(1.08);
    transition: 0.8s ease-in-out;
}

.navbar__links .active{
    color: #150070;
    transform: scale(1.08); 
    transition: 0.8s ease-in-out;

}

.navbar__search{
    display: flex;
    justify-content:end;
    align-items: center;
    width: 80%;
}

.navbar__search:hover {
    border: 2px solid #4800ff; 
    box-shadow: 0 0 5px rgba(93, 0, 255, 0.6); 
    transition: all 0.3s ease-in-out;
}

.navbar__search .search-input{
    width: 0px;
    border: none;
    background-color: #9d86dd;
}

.navbar__search .search-input:focus{
    width: 200px;
    outline: none;
    border-bottom: 2px solid #5603af;
}

.navbar__search .search-icon{
    font-size: 1.2rem;
    cursor: pointer;
}

.navbar__search:hover .search-input{
    width: 200px;
    transition: width 1s ease-in-out;
    border-bottom: 1.5px solid #ba81d2;
}
.search-icon {
    font-size: 24px;
    color: black;
    cursor: pointer;
}